<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Start Redirects -->
    <!-- NavBar Elements -->
    <servlet>
        <servlet-name>Payment</servlet-name>
        <jsp-file>payment.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CourseSelect</servlet-name>
        <jsp-file>courseSelect.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FinancialRecords</servlet-name>
        <jsp-file>financialRecords.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Grades</servlet-name>
        <jsp-file>grades.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <!-- End NavBar Elements -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <jsp-file>accountCreation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>Servlets.CreateAccount</servlet-class>
    </servlet>
    <!-- Start Mapping -->
    <!-- NavBar Elements -->
    <servlet-mapping>
        <servlet-name>CourseSelect</servlet-name>
        <url-pattern>/courseSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialRecords</servlet-name>
        <url-pattern>/financialRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grades</servlet-name>
        <url-pattern>/grades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- End NavBar Elements -->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/accountCreation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.php</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
